.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-kr {
  font-family: "Noto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: ;
}

nav {  
    font-family: Calistoga;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(245, 240, 235);
    color: #f26124;
    display: flex; 
    text-transform: uppercase;
    padding: 25px;
    justify-content: space-evenly; 
    font-size: 35px;
    position:sticky;
    top: 0%;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .8);
  } 

nav a:hover {
  color:#7ac143
}

a {
  text-decoration: none;
    color: #f26124;
}

.logo img{
    width: 70px;
}

img {
 width:COVER;
}

.LLS {
  margin: 10%;
}

h1, h2, h3 {
  font-family: Calistoga;
}

p {
 font-family: Noto;
}

h2 {
  margin: 5%;
}

h3 {
  color:#7ac143 ;
}

.focuses {
  margin:10%;
}

h1, h2 {
  color:#f26124;
}



